---
import BaseHead from '$components/BaseHead.astro';
import Header from '$components/Header.astro';
import Footer from '$components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '$config';

function isOdd(num) { 
	return num % 2;
}

interface Frontmatter {
	title:	string
	description:	string
	pubDate:	string
	heroImage:	string
}

// Use Astro.glob() to fetch all non draft posts, and then sort them by date.
const posts = (await Astro.glob<Frontmatter>('./blog/*.{md,mdx}'))
	.filter((post) => !post.frontmatter.draft)
	.sort(
		(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
	);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="lg:pl-20 py-6 flex flex-col justify-center sm:py-12">
			<div class="sm:py-3 w-full">

		    <div class="relative text-gray-700 antialiased text-sm font-semibold">

		      <!-- Vertical bar running through middle -->
		      <div class="hidden sm:block w-1 bg-emerald-300 absolute h-full left-1/2 transform -translate-x-1/2"></div>

					{posts.map((post, postIndex) => (
		      <div class="mt-6 sm:mt-0 sm:mb-12">
		        <div class="flex flex-col sm:flex-row items-center">
		          <div data-side={isOdd(postIndex) ? "right": "left"} class="flex justify-center sm:data-[side=left]:justify-start sm:data-[side=right]:justify-end w-full mx-auto items-center">
		            <div data-side={isOdd(postIndex) ? "right": "left"} class="w-full sm:w-1/2 sm:data-[side=left]:sm:pr-8 sm:data-[side=right]:pl-8">
						      <a href={post.url}>
		              <div class="p-4 bg-white rounded shadow">
		                <h1 class="text-xl">{post.frontmatter.title}</h1>
										<p>{post.frontmatter.description}</p>
		              </div>
									</a>
		            </div>
		          </div>
		          <div class="rounded-full bg-blue-500 border-white border-4 w-8 h-8 absolute left-1/2 -translate-y-4 sm:translate-y-0 transform -translate-x-1/2 flex items-center justify-center">
		            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
		              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
		            </svg>
		          </div>
		        </div>
		      </div>
					))}
		    </div>
		  </div>
		</main>
		<Footer />
	</body>
</html>
