---
import BaseHead from '$components/BaseHead.astro';
import Header from '$components/Header.astro';
import Footer from '$components/Footer.astro';
import Link from '$components/Link.astro';
import ghIcon from '$fontawesome/svgs/brands/github.svg';
import linkedinIcon from '$fontawesome/svgs/brands/linkedin.svg';
import twitterIcon from '$fontawesome/svgs/brands/twitter.svg';
import diagnosisIcon from '$fontawesome/svgs/solid/magnifying-glass.svg';
import processTrainingIcon from '$fontawesome/svgs/solid/dumbbell.svg';
import devOpsTeamBuildingIcon from '$fontawesome/svgs/solid/users-gear.svg';
import Map from '$components/Map.svelte';
import 'leaflet/dist/leaflet.css';
import {SITE_DESCRIPTION} from '$config';

const location = { latitude: 46.9629963, longitude: 7.4496333 };

const SITE_TITLE = 'index';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<div class="grid grid-cols-2 gap-4 w-full pl-20">
			<div>
				<h1 class="text-6xl my-10">Build an environment people want to work in and they will work</h1>
				<p class="text-xl font-bold my-10">We help you diagnose your development workflows and streamline them.</p>
				<p class="text-lg my-5">Whether you are building a new Team for your Mobile app or want to improve the lead times of an existing 
				development project. The way you develop your application and how you operate it, needs to be coordinated. That experience is not 
				always available inside the company and Hiring just for a short time feasible or no positions are available.</p>

​				<p class="text-lg">Thats where we come in. We use our knowledge in systemic thinking and process design combined with our experience 
					in development and DevOps to help you achieve your goals.</p>
			</div>
			<img src="/of_labs_stamp02.png" />
		</div>
		<div class="bg-gray-200 w-full text-center mt-10">
			<h2 class="text-4xl font-bold py-10">Services</h2>
			<div class="grid grid-cols-3 gap-6 mt-10">
				<div class="flex flex-col items-center">
					<div><img class="w-20 h-20" src={diagnosisIcon.src} alt="Diagnosis Icon" /></div>
					<div class="uppercase text-lg mb-5 font-bold">Diagnosis</div>
					<div class="px-10 mb-10">See how your Team works and what profiles you have in the Team. Verify your seeings and get a fresh view into long standing issues.</div>
				</div>
				<div class="flex flex-col items-center">
					<div><img class="w-20 h-20" src={processTrainingIcon.src} alt="Process Training Icon" /></div>
					<div class="uppercase text-lg mb-5 font-bold">Process Training</div>
					<div class="px-10 mb-10">See how your Team works and what profiles you have in the Team. Verify your seeings and get a fresh view into long standing issues.</div>				</div>
				<div class="flex flex-col items-center">
					<div><img class="w-20 h-20" src={devOpsTeamBuildingIcon.src} alt="Devops Teambuilding Icon" /></div>
					<div class="uppercase text-lg mb-5 font-bold">DEV-OPS TEAMBUILDING</div>
					<div class="px-10 mb-10">See how your Team works and what profiles you have in the Team. Verify your seeings and get a fresh view into long standing issues.</div>				</div>
			</div>
		</div>
		<div class="w-full flex flex-col items-center mt-10">
			<h1 class="text-4xl font-bold py-10">Contact Us</h1>
			<div class="flex flex-row justify-between mt-10 w-[500px]">
				<div class="text-center">
					<h2 class="font-bold text-lg mb-5">Address</h2>
					<p>Wylerringstrasse 36</p>
					<p>Bern - Switzerland</p>
				</div>
				<div class="text-center">
					<h2 class="font-bold text-lg mb-5">Contact</h2>
					<p>Phone: <Link link="tel:+41797718000">+41 79 771 80 00</Link></p>
					<p>Mail: <Link link="mail:contact@openflowlabs.com">contact@openflowlabs.com</Link></p>
					<div class="flex justify-center mt-5">
						<div class="mr-2.5"><a href="https://twitter.com/openflowlabs"><img  class="w-10 h-10" src={twitterIcon.src} alt="Twitter" /></a></div>
						<div class="mr-2.5"><a href="https://www.linkedin.com/company/open-flow-labs/"><img  class="w-10 h-10" src={linkedinIcon.src} alt="LinkedIn" /></a></div>
						<div><a href="https://github.com/OpenFlowLabs"><img class="w-10 h-10" src={ghIcon.src} alt="GitHub" /></a></div>
					</div>
				</div>
			</div>
			<div class="mt-10">
				<Map client:visible {location} zoom={15} markerMarkup="<p>We are here!</p>" />
			</div>
		</div>
		<Footer />
	</body>
</html>
